// Background Colours
$main-bg: #dfdfdf;
$light-bg: #fafafa;
$dark-bg: #cfcfcf;

// Font Colours
$main-font: #0020ad;
$light-font: #0329d1;
$dark-font: #00115f;

$grey-font: #777777;
$grey-dark-font: #5c5c5c;

$off-white: #f0e9e9;
$off-white-dark: #c2c2c2;
